<h1>Bike#new</h1>

<%if flash[:message] %>
    <%= flash[:message] %>
<%end %>

<%= form_for @bike do |f| %>
    Model: <%=f.text_field :model %>
    Color: <%=f.text_field :color %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <%=f.submit 'Submit bike' %>
<% end %>
    
